.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width .3s ease;
}

.switchers {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.lang {
    margin-left: 20px;
}

.colapsedBtn {
    position: absolute;
    right: -32px;
    bottom: 32px;
}

.items {
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.link {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.icon {
    height: 25px;
    min-height: 25px;
    width: 25px;
    min-width: 25px;
    fill: var(--inverted-primary-color);
}

.linkLabel {
    opacity: 1;
}

.colapsed {
    width: var(--sidebar-width-colapsed);

    .switchers {
        flex-direction: column;
    }

    .lang {
        margin-left: 0;
    }

    .linkLabel {
        opacity: 0;
        transition: opacity .2s;
    }
}